<br/>
<div class="jumbotron">
  <h1>Socialist Alternative DC</h1>
  <p>A place for DC socialists to organize!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Two Parties, No Choice</h2>
    <p>Socialist Alternative believes the two party duopoly favors the rich and owner class at the expense of the working poor.</p>
  </div>
  <div class="col-md-4">
    <h2>Fight Poverty</h2>
    <p>Socialist Alternative pushes for reform that will help the working class today. See our sister campaign at 15now.org!</p>
  </div>
  <div class="col-md-4">
    <h2>Join Socialist Alternative!</h2>
    <p>Sign up to join our local branch or visit the national site at <a href="http://socialistalternative.org">SocialistAlternative.org</a></p>
  </div>
</div>
